@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    overflow : hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    padding: 0 4vw;
    width: 100%;
    height: 10vh;
    border-radius: 1vw;
    background-color: #6D350C;
    color: #fff;
    overflow: hidden;
    z-index: 9999;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0 10vw;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 500;
    cursor: pointer;
}

#navbar a:hover {
    color: rgb(224, 127, 16);
    font-size: 1.3vw;
    transition: all 0.4s;
}

#navbar li:hover {
    color: rgb(224, 127, 16);
    font-size: 1.3vw;
    transition: all 0.4s;
}

button {
    color: rgb(224, 127, 16);
    padding: 1vw 1.2vw;
    font-size: 1vw;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    color: #111;
    background-color: #fff;
    border: 1px solid #111;
    border-radius: 1vw;
    transition: all 0.3s;
}

#page1 {
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 10vh; 
    background-color: #FFF8EF;
}

#top {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 10vh;
    padding: 0 10vw;
}

#left-part {
    width: 50%;
    height: 100%;
}

#left-part h5 {
    font-size: 1.5vw;
    font-weight: 400;
}

#left-part h2 {
    font-size: 2.5vw;
    font-weight: 600;
}

#left-part h4 {
    border-radius: 1vw;
    border: 1px solid #111;
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    font-weight: 500;
    font-family: "silk serif";
    color: rgba(45, 45, 45, 0.918);
}

.left-button > button {
    margin-top: 4vh;
    color: #fff;
    background-color: #6D350C;
    border-radius: 1vw;
    border: none;
}

.left-button > button:hover {
    color: #6D350C;
    background-color: #fff;
    border: 1px solid #111;
}

.left-button > button:nth-child(2) {
    color: #6D350C;
    background-color: #fff;
    border-radius: 1vw;
    border: none;
    margin-left: 2vw;
    border: 1px solid #111;
}

.left-button > button:nth-child(2):hover {
    color: #fff;
    background-color: #6D350C;
}

#right-part {
    width: 50%;
    height: 100%;
}

#right-image img{
    width: 90%;
    height: 100%;
    margin-left: 4vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
}

#bottom {
    width: 100%;
    height: fit-content;
    background-color: #FEEDD4;
    padding: 3vw 0;
}

#bottom h5 {
    text-align: center;
    font-size: 2vw;
    font-weight: 400;
    text-transform: uppercase;
    color: #6D350C;
}

#bottom h3 {
    padding-top: 1.5vw;
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}

#bottom-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
}

#bottom-div {
    width: 20%;
    height: fit-content;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 200;
    background-color: #fff;
    padding: 1.2vw;
    border-radius: 1vw;
    cursor : pointer;
}

#bottom-div p {
    font-size: 1.2vw;
}

#bottom-div h4 {
    margin-top: 1vw;
}

#bottom-div > i {
    background-color: rgb(209, 205, 205);
    border-radius: 50%;
    padding: 0.5vw;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: #FFF8EF;
    padding: 5vw 0;
}

#page2 h4{
    text-align : center;
    font-size : 2vw;
    font-weight : 500;
    text-transform: uppercase;
    color: #6D350C;
}

#page2 h2{
    text-align : center;
    font-size : 3vw;
    font-weight: 600;
    padding-top: 2vw;
}

#box-container{
    width : 100%;
    height : fit-content;
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

#box{
    width : 20%;
    height : 50%;
    position: relative;
    cursor : pointer;
}

#box img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    border-radius: 1vw;
    border : 0.5px solid #111;
}

#box h5{
    width : 100%;
    height : 100%;
    background-color: #11111154;
    padding-top : 8vw;
    padding-left : 2vw;
    font-size: 1.5vw;
    font-weight: 700;
    color : #fff;
    border-radius: 1vw;
    position : absolute;
    top : 0;
    text-align-last: left;
    opacity : 0;
}

#box h5:hover{
    opacity : 1;
}

#page3{
    padding: 3vw;
    background-color: #FFF8EF;
    width: 100%;
    height : 100%;
}

#page3 h4{
    font-size: 2vw;
    font-weight: 600;
    color:#6D350C;
}

#page3 h2{
    font-size: 2.5vw;
    font-weight: 600;
    padding-top: 1.5vw;
}

#shop-container{
    width : 100%;
    height : fit-content;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shop-container2{
    width : 100%;
    height : fit-content;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1vw;
}

#shop{
    width : 30%;
    height : 20%;
    padding: 1vw;
    background-color: #fff;
    border-radius: 1vw;
}

#sofa{
    width : 100%;
    height : fit-content;
}

#sofa img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    border-radius: 1vw;
}

#details{
    width: 100%;
    height: fit-content;
}

#details h5{
    font-size: 1.5vw;
    padding-top: 0.5vw;
}

#details h6{
    font-size: 1.3vw;
    padding-top: 0.5vw;
    color:#6D350C;
}

#details p{
    color: rgb(143, 138, 138);
    font-weight: 700;
}

#buttons{
    padding-top: 1vw;
    padding-left : 1.3vw;
    width: 100%;
    height: fit-content;
    display: flex;
}

#buttons button{
    width : 35%;
    height: fit-content;
    border-radius: 1vw;
    background-color: #6D350C;
    color:#fff;
    margin-right: 2vw;
}

#buttons button:hover{
    background-color: #eff308;
    color:#6D350C;
    border-radius:1vw;
    transition: all ease s;
    border:none;
    scale: 1.1;
}

#deals-container{
    width : 100%;
    height : fit-content;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1vw;
}

#deals{
    width : 30%;
    height : 20%;
    padding: 1vw;
    background-color: #fff;
    border-radius: 1vw;
}

#page4{
    width : 100%;
    height : 100%;
    background-color: #FFF8EF;
    padding-bottom: 3vw;
}

#page4 h5{
    font-size: 1.8vw;
    text-align: center;
    text-transform: uppercase;
    color:#6D350C;
}

#page4 h4{
    font-size: 2vw;
    padding-top: 0.5vw;
    font-weight: 500;
    color:#111;
    text-align: center;
}

#review-section{
    width: 100%;
    height : 100%;
    padding: 2vw;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
}

#review{
    width : 30%;
    height : fit-content;
    padding: 1vw;
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.2);
}

#profile{
    width : 100%;
    height : 100%;
    display : flex;
}

.image{
    width : 20%;
    height :30;
}

.image img{
    width : 80%;
    height : 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#review-content p{
    color: rgb(134, 133, 133);
    padding: 1vw 0;
}

#review-content i{
    color:#eff308;
}

#email{
    width : 100%;
    height : fit-content;
    display : flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

#email input{
    border-radius: 1vw;
    border-style: none;
    padding: 0.5vw 0 0.5vw 1vw;
    font-size: 1.5vw;
    margin-right: 2vw;
}

#email button{
    color: #fff;
    background-color: #6D350C;
    border-radius: 1vw;
}

#email button:hover{
    scale:1.1;
}

footer{
    width : 100%;
    height : 100%;
    background-color:#6D350C;
    color: #fff;
    padding: 2vw;
    display : flex;
    align-items : center;
    justify-content: space-between; 
}

#bottom-part1{
    width : 30%;
    height : 100%;
}

#bottom-part1 p{
    padding-top: 1vw;
    font-size: 1.2vw;
    font-weight: 400;
}

#media{
    color : #111;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: left;
    padding-top: 2.5vw;
}
  
.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 0.5vw;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}
  
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}
  
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}


#bottom-part2{
    width: 30%;
    height : 100%;
    text-align:center;
}

  
#bottom-part2 h4{
    font-size: 2vw;
    cursor: pointer;
}

#bottom-part2 p{
    padding-top: 1vw;
    cursor: pointer;
}

#rights{
    background-color: #6D350C;
    padding: 0 2vw;
}

#policy{
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding-top : 1vw;
    font-size: 1vw;
    padding-bottom: 3vw;
}

@media (max-width : 800px){

    nav li a{
        display: none;
    }


    #navbar li button{
        font-size: 2vw;
    }

    #page1{
        padding-top: 12vh;
    }

    #top{
        display: inline-block;
    }

    #left-part{
        width: 100%;
        height: 50%;
        padding: 1vw;
    }

    #left-part h5{
        width: 90%;
        font-size: 5.5vw;
    }

    #left-part h2{
        width: 100%;
        height: fit-content;
        font-size: 6.5vw;
    }

    #left-part h4{
        width: 80%;
        font-size: 3vw;
    }

    #left-part button{
        font-size: 2.5vw;
        margin-bottom: 3vw;
    }

    #right-part{
        width: 100%;
    }

    #bottom-container{
        display:grid;
    }

    #bottom-div:nth-child(1){
        width : 80%;
        height: fit-content;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 3vw;
    }

    #bottom-div:nth-child(2){
        width : 80%;
        height: fit-content;
        grid-column: 2/2;
        grid-row: 1/2;
        font-size: 3vw;
    }
    #bottom-div:nth-child(3){
        width : 80%;
        height: fit-content;
        grid-column: 1/2;
        grid-row: 2/2;
        font-size: 3vw;
        margin-top:2vw;
    }
    #bottom-div:nth-child(4){
        width : 80%;
        height: fit-content;
        grid-column: 2/2;
        grid-row: 2/2;
        font-size: 3vw;
    }

    #bottom-div p{
        font-size: 2.5vw;
        color: rgb(105, 103, 103);
    }

    #box-container{
        display : grid;
    }

    #box:nth-child(1){
        width : 80%;
        height: fit-content;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #box:nth-child(2){
        width : 80%;
        height: fit-content;
        grid-column: 2/2;
        grid-row: 1/2;
    }

    #box:nth-child(3){
        width : 80%;
        height: fit-content;
        grid-column: 1/2;
        grid-row: 2/2;
        margin-top: 1vw;
    }

    #box:nth-child(4){
        width : 80%;
        height: fit-content;
        grid-column: 2/2;
        grid-row: 2/2;
        margin-top: 1vw;
    }

    #box h5{
        font-size: 2.5vw;
    }

    #bottom h5{
        font-size: 3vw;
    }

    #bottom h3{
        font-size: 3.2vw;
    }

    #page2 h4{
        font-size: 3vw;
    }

    #page2 h2{
        font-size: 3.2vw;
    }

    #page3 h4{
        font-size: 2.8vw;
    }
    
    #page3 h2{
        font-size: 3.2vw;
    }
}